<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2"><%= link_to @quote.book.title, book_path(@quote.book.id) %></div>
    <p class="text-gray-700 text-base"><%= @quote.content %> </p>
  </div>
</div>
