<% if @authors.any? %>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-4">
    <%= render @authors %>
  </div>
  <div class="flex justify-center my-5">
    <%== pagy_nav(@pagy) %>
  </div>
<% else %>
  <h1 class='text-center my-5 text-4xl'><%= t('.empty') %></h1>
<% end %>
