<% if user_signed_in? %>
  <%= link_to t('.add_author'), new_author_path, class: "text-center inline-block mt-10 px-8 py-4 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-2-3 md:w-1/5 mb-3", 
                                              style:"background: linear-gradient(
                                                                  to right,
                                                                  #979dac,
                                                                  #7d8597,
                                                                  #5c677d,
                                                                  #33415c,
                                                                  #001233);" %>
<% end %>
<% if @authors.any? %>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-4">
    <%= render @authors %>
  </div>
  <div class="flex justify-center my-5">
    <%== pagy_nav(@pagy) %>
  </div>
<% else %>
  <h1 class='text-center my-5 text-4xl'><%= t('.empty') %></h1>
<% end %>
