<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto">
  <div class="w-80 md:w-80 xl:w-60 2xl:w-80">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        <%= book.title %>
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-700"><%= book.author&.full_name %></p>
    <%= link_to book_path(book), class: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg focus:ring-4 focus:outline-none", style: "background: linear-gradient(to right, #979dac, #7d8597, #5c677d, #33415c);" do %>
      <p><%= t('.show_book') %></p>  
      <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    <% end %>
  </div>
</div>

