@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.pagy-nav.pagination {
  @apply isolate inline-flex -space-x-px rounded-md shadow-sm
}

.page.next a {
  color: white;
  border: 1px solid #33415C;
  background-color: #5C677D;
  @apply relative inline-flex items-center rounded-r-md px-2 py-2 text-sm font-medium focus:z-20;
}

.page.next a:hover {
  background-color: #33415C;
}

.page.prev a {
  color: white;
  border: 1px solid #33415C;
  background-color: #5C677D;
  @apply relative inline-flex items-center rounded-l-md px-2 py-2 text-sm font-medium focus:z-20;
}

.page a, .page.gap {
  color: white;
  border: 1px solid #33415C;
  background-color: #5C677D;
  @apply z-10 relative inline-flex items-center px-4 py-2 text-sm font-medium focus:z-20;
}

.page.prev a:hover {
  background-color: #33415C;
}

.page.active {
  color: #33415C;
  border: 1px solid #5C677D;
  @apply bg-white hover:bg-gray-50 relative inline-flex items-center border px-4 py-2 text-sm font-medium focus:z-20;
}

.page.next.disabled {
  color: white;
  border: 1px solid #33415C;
  background-color: #5C677D;
  @apply relative inline-flex items-center rounded-r-md px-2 py-2 text-sm font-medium focus:z-20;
}

.page.prev.disabled {
  color: white;
  border: 1px solid #33415C;
  background-color: #5C677D;
  @apply relative inline-flex items-center rounded-l-md px-2 py-2 text-sm font-medium focus:z-20;
}
